.project-item {
  width: 23%;
  list-style-type: none;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.project-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-name {
  padding-left: 20px;
  color: #475569;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 30px;
}
